# Default to requesting pull request reviews from the Heroku Languages team.
* @heroku/languages

# However, request review from the language owner instead for files that are updated
# by Dependabot or inventory/release automation, to reduce team review request noise.
CHANGELOG.md @colincasey
Gemfile.lock @colincasey
inventory/ @colincasey
npm-shrinkwrap.json @colincasey
package.json @colincasey
package-lock.json @colincasey
pnpm-lock.yaml @colincasey
yarn.lock @colincasey
