language: bash
sudo: required
services:
  - docker
env:
  - TEST=heroku-18 STACK=heroku-18
  - TEST=heroku-16 STACK=heroku-16
  - TEST=cedar-14 STACK=cedar-14
  - TEST=hatchet
install:
  - if [[ -n $STACK ]]; then
      docker pull "heroku/${STACK/-/:}";
    fi
script: make ${TEST}
