name: CI

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:

  unit-test:
    runs-on: ubuntu-22.04
    container:
      image: heroku/heroku:${{ matrix.stack_number }}-build
    strategy:
      matrix:
        stack_number: ["20", "22"]
    env:
      STACK: heroku-${{ matrix.stack_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Unit tests on heroku:${{ matrix.stack_number }}-build
        run: test/unit

  functional-test:
    runs-on: ubuntu-22.04
    container:
      image: heroku/heroku:${{ matrix.stack_number }}-build
    strategy:
      matrix:
        stack_number: ["20", "22"]
    env:
      STACK: heroku-${{ matrix.stack_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Functional tests on heroku:${{ matrix.stack_number }}-build
        run: test/run

  hatchet-test:
    runs-on: ubuntu-22.04
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_API_USER: ${{ secrets.HEROKU_API_USER }}
      HATCHET_EXPENSIVE_MODE: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
      - name: Run hatchet tests
        run: make hatchet

  metrics-test:
    strategy:
      fail-fast: false
      matrix:
        # check the minimum node version supported by the metrics script and the latest node version
        # (assumes the versions between have backwards-compatible APIs)
        version: [14.10.0, latest]
    name: Test Metrics (${{ matrix.version }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
      - run: npx mocha metrics/test/metrics.spec.cjs