name: CI

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

env:
  NO_COLOR: 1

jobs:
  unit-test:
    runs-on: ubuntu-24.04
    container:
      image: heroku/heroku:${{ matrix.stack_number }}-build
      options: --user root
    strategy:
      matrix:
        stack_number: ["22", "24"]
    env:
      STACK: heroku-${{ matrix.stack_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Unit tests on heroku:${{ matrix.stack_number }}-build
        run: test/unit

  functional-test:
    runs-on: ubuntu-24.04
    container:
      image: heroku/heroku:${{ matrix.stack_number }}-build
      options: --user root
    strategy:
      matrix:
        stack_number: ["22", "24"]
    env:
      STACK: heroku-${{ matrix.stack_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Functional tests on heroku:${{ matrix.stack_number }}-build
        run: test/run

  hatchet-test:
    runs-on: ubuntu-24.04
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_API_USER: ${{ secrets.HEROKU_API_USER }}
      HATCHET_EXPENSIVE_MODE: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Run hatchet tests
        run: make hatchet

  metrics-test:
    strategy:
      fail-fast: false
      matrix:
        # check the minimum node version supported by the metrics script and the latest node version
        # (assumes the versions between have backwards-compatible APIs)
        version: [14.10.0, latest]
    name: Test Metrics (${{ matrix.version }})
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.version }}
      - run: npx mocha@10.x metrics/test/metrics.spec.cjs

  rust-test:
    name: Rust Tests and Linting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update Rust toolchain
        run: rustup update
      - name: Rust Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - name: Run tests
        run: cargo test --manifest-path ./resolve-version/Cargo.toml --locked
      - name: Clippy
        run: cargo clippy --manifest-path ./resolve-version/Cargo.toml --all-targets --locked -- --deny warnings
