name: CI

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:

  unit-test:
    runs-on: ubuntu-22.04
    container:
      image: heroku/heroku:${{ matrix.stack_number }}-build
    strategy:
      matrix:
        stack_number: ["18", "20", "22"]
    env:
      STACK: heroku-${{ matrix.stack_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unit tests on heroku:${{ matrix.stack_number }}-build
        run: test/unit

  functional-test:
    runs-on: ubuntu-22.04
    container:
      image: heroku/heroku:${{ matrix.stack_number }}-build
    strategy:
      matrix:
        stack_number: ["18", "20", "22"]
    env:
      STACK: heroku-${{ matrix.stack_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Functional tests on heroku:${{ matrix.stack_number }}-build
        run: test/run

  hatchet-test:
    runs-on: ubuntu-22.04
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_API_USER: ${{ secrets.HEROKU_API_USER }}
      HATCHET_EXPENSIVE_MODE: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
      - name: Run hatchet tests
        run: make hatchet
